.table{
    width: 100%;
    border-color: var(--cor-branco);
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    thead, th, tbody, td, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    td{
        border-bottom-width: 1px;
        padding: 0.7rem;
        text-align: left;
    }

    th{
        padding: 0px 20px;
    }

    tbody tr:nth-child(even){
        background-color: rgb(255, 255, 255);
    }

    tbody tr:hover {
        background-color: rgb(227, 227, 227);
    }
}

.acao{
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
}

.acao a{
    text-decoration: none;
}

.acao button{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(15, 211, 15);
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    color: #fff;
    font-weight: 500;
}